#testArea {
    width: 20%;
    height: 20%;
    background:#1EAAF1;
    display: none;
    align-items: center;
    justify-content: center;

}

#trigger {
    width: 30px;
    height: 30px;
    display: none;
    border-radius: 25px;
}


body,html{
    height: 100%;
    margin: 0;
}

body{
    display: block;
    align-items: center;
    justify-content: center;
    background:#FAFAFA;
}

/*white*/
/*#FAFAFA*/
/*red*/
/*#EF443D*/

/*green*/
/*#8CC152*/

/*grey*/
/*#9E9E9E*/
